html{height: 100vh}
body {
    background-color: rgb(230, 225, 225);
    padding: .5rem 1rem;
    height: calc(100% - 1rem);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* __________Nav____________*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 90vw;
    margin: auto; */
}
.nav-link{
    height: max-content;
}
.nav-link > .nav-link-image{
    width: 1.5rem;
    height: auto;
}


/* __________Track-Info ____________*/
figure{
    margin: 0;
}
.cover-art{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10rem;
}
.track-info{
    text-align: center;
}


/* ________Track-Controls ____________*/
.track-controls{
    margin-top: 5rem;
}
.track-progress-numbers {
    display: flex;
    justify-content: space-between;
    margin: 0 .25rem;
}
progress.track-progress{
    width: 100%;
    /* margin-top: 1rem; */
}
.track-switch-controls{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.track-control-img{
    width: 2rem;
}